@charset 'UTF-8';

:root {
	--text-color: #000000;
	--background-color: #FFFFFF;
	--card-background: #EFEFEF;
	--range-progress-color: #FF0000;
	--trick-color: #757575;
}

[data-theme="dark"] {
	--text-color: #FFFFFF;
	--background-color: #000000;
	--card-background: #373232;
	--range-progress-color: #CA0030;
	--trick-color: #A0A0A0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	width: 100vw;
	height: 100dvh;
	background-color: var(--background-color);
	color: var(--text-color);
	transition: background-color 0.3s ease;
}

header {
	margin-bottom: 10px;
	padding: 5px 10px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: var(--range-progress-color);
	transition: background-color 0.3s ease;
}

#theme-color-button {
	width: 2.25em;
	height: 2.25em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--text-color);
	color: var(--background-color);
	border: none;
	border-radius: 50%;
	transition: background-color 0.5s ease, color 0.5s ease;
}

#theme-color-button:hover {
	background-color: #757575;
	color: var(--text-color);
}

#theme-color-icon {
	font-size: 1.25em;
	pointer-events: none;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#rgba-container {
	padding: 15px;
	width: 95%;
	max-width: 750px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: var(--card-background);
	color: var(--text-color);
	border: 1px solid var(--text-color);
	border-radius: 20px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

#color-channels {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#color-channels .item {
	width: 100%;
	display: grid;
	grid-template-columns: 25px 8fr 1fr;
	justify-items: start;
	align-items: center;
}

#color-channels .item .light-type-text,
#color-channels .item .opacity-type {
	margin-right: 10px;
	font-size: 1.5em;
	font-weight: bold;
	user-select: none;
}

#color-channels .item input[type="range"],
#color-channels .item input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
}

#color-channels .item input[type="range"]::-moz-range-thumb {
	appearance: none;
}

#color-channels .item input[type="range"] {
	width: 100%;
	height: 5px;
	background-image: linear-gradient(to right, var(--range-progress-color) 0%, var(--trick-color) 0%);
	border-radius: 15px;
}

#color-channels .item input[type="range"]::-webkit-slider-thumb {
	width: 15px;
	height: 15px;
	background-color: var(--range-progress-color);
	border-radius: 50%;
}

#color-channels .item input[type="range"]::-moz-range-thumb {
	width: 15px;
	height: 15px;
	background-color: var(--range-progress-color);
	border: none;
	border-radius: 50%;
}

#color-channels .item .light-type-value {
	margin-left: 10px;
	min-width: 5%;
}

#rgba-display {
	padding-top: 1em;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px dashed var(--text-color);
}

#rgba-display-text {
	font-size: 1em;
	font-weight: 500;
	background-color: transparent;
	color: var(--text-color);
	border: none;
}

#rgba-copy-button {
	padding: 5px;
	font-size: 1.25em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--text-color);
	color: var(--background-color);
	border: 3px solid transparent;
	border-radius: 5px;
}